.paleta_anomsst {
    position:relative;
    bottom: -94%;
    left: 70%;
    height: 40px;
    width: 400px;
    z-index: 800;
}

.paleta_sst {
    position:relative;
    bottom: -94%;
    left: -15%;
    height: 40px;
    width: 400px;
    z-index: 800;
}

.paleta_chla {
    position:relative;
    bottom: -94%;
    left: -13%;
    height: 30px;
    width: 400px;
    z-index: 800;
}